EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8080/realms/stories-of-islam
EXPO_PUBLIC_KEYCLOAK_MOBILE_CLIENT_ID=stories-mobile
EXPO_PUBLIC_KEYCLOAK_WEB_CLIENT_ID=stories-web
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_ENVIRONMENT=development
